@charset "UTF-8";

.clear {
	clear: both;
}

#write-top-box h1 {
	font-size:32px;
	font-weight:bold;
}
#write-top-box h1:last-child {
	margin-top: 30px;
}

#write-inner-box {
	border-top: 3px solid #fe8d03;
	border-bottom:3px solid #fe8d03;
	padding:16px 15px;
	padding-top:20px;
}

.one_line {
	font-weight:bold;
	line-height: 2.0em;
	display: inline-block;
	float:left;
}

.two_line {
	font-weight:bold;
	line-height: 2.0em;
	display: inline-block;
}

.title-input {
	width: 90%;
	font-size:20px;
	border:1px solid #ccc;
	border-radius: 5px;
	float:right;
}
.title-write {
	width: 38%;
	margin: 0 15px;
	margin-right: 30px;
	font-size:20px;
	border:1px solid #ccc;
	border-radius: 5px;
	float:left;
}
.title-pw {
	width: 38%;
	font-size:20px;
	border:1px solid #ccc;
	border-radius: 5px;
	float:right;
}
#write-content-box {
	padding-top:40px;
	border-bottom:3px solid #fe8d03;
}
.wr-content {
	width:100%;
	height:400px;
	border:1px solid #ccc;
	border-radius: 5px;
	overflow:auto;
	resize:none;
}

.write-logo {
	width:300px;
	height:auto;
	opacity: 0.9;
	margin:0 auto;
	display: block;
}

.display-block{
	display:block;
	padding:15px 15px;
}


.hide {
	display:none;
}

.text-center input {
	margin:20px 5px;
}

#upfile {margin-left:20px; vertical-align: -5px;}

.display-block input[type=file] {
	width:300px;
	margin-right:30px;
	overflow:hidden;
	display:inline-block;
}

#delBtn {
	width:60px;
	height:30px;
	border: none;
    border-radius: 4px;
    background-color:#ddd;
    vertical-align: -5px;
}
