@charset "UTF-8";

/*  이곳은 댓글 모달      */
.boardBtn {
           text-align: right;
           width: 100%;
           padding-right: 20px;
}

.delete_box {
    background-color: rgba(0,0,0,0.4);
    width: 49.5%;
    height: auto;
    position: fixed;
    z-index: 1;
    overflow: auto;
    top:300px;
    padding: 100px;
    display: none;
}


.revise_box {
    background-color: rgba(0,0,0,0.4);
    width: 49.5%;
    height: auto;
    position: fixed;
    z-index: 1;
    overflow: auto;
    top:300px;
    padding: 100px;
    display: none;
}

.reply_box {
    background-color: rgba(0,0,0,0.4);
    width: 59.2%;
    height: auto;
    position: fixed;
    z-index: 1;
    overflow: auto;
    top:300px;
    padding: 100px;
    display: none;
}

.reply_box_content {
    background-color: #fefefe;
}
.pswContainer{
	position: relative;
}

.reply_close {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
}

.close {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
}

.close1 {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
}

.reply_close:hover,
.reply_close:focus {
    color: red;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.close1:hover,
.close1:focus {
    color: red;
    cursor: pointer;
}


.pswContainer {
    padding: 16px;
}

.btnChk-revise {
    background-color: orange;
    color: white;
    border: none;
	float : right;
	margin: 8px 0;
    padding: 14px 20px;
    cursor: pointer;
}

.btnChk-revise:hover {
    opacity: 0.6;
}

input[type=text], input[type=password] {
    width: 41%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;
}


