@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
}

body {clear: all;}

body {margin: 0; background-color: #f4f4f4;}

a {text-decoration: none;}

a:hover, button:hover, input[type=radio]:hover, input[type=checkbox]:hover,
input[type=submit]:hover, input[type=button]:hover {cursor: pointer;}

.font-bold {font-weight: bold;}

.font-red {color: red;}

.font-sub {color: #999;}
