@charset "UTF-8";

#logincontainer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 381px;
    padding: 20px;
    margin-top: 50px;
}

#logincontainer h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.g-login {
    background-color: white;
    color: black;
    width: 100%;
    margin: 20px 0;
    padding: 12px 20px;
    border-radius: 4px;
    font-weight: bold;
    font-size: large;
}

.g-login img{
    height: 18px;
}

.g-login a{
    color: black;
}

.g-login a:hover{
    text-decoration: none;
}

.g-login:hover, .g-login:active {
    background-color: rgb(240, 240, 240);
}

.hr-sect {
    display: flex;
	flex-basis: 100%;
	align-items: center;
	margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	line-height: 0px;
}

.hr-sect p{
    font-size: larger;
}

#email_pw_input input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 1px 1px 0px #ddd;
    display: inline-block;
    box-sizing: border-box;
}

#loginbottom input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: -4px;
}

#email_pw_input button {
    width: 100%;
    background-color: #FFAD46;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 0px #aaa;
    margin: 20px 0;
    padding: 14px 20px;
}

#email_pw_input button:hover {
    background-image: linear-gradient(
        rgba(200, 200, 200, 0.2),
        rgba(200, 200, 200, 0.2)
    );
}

#loginbottom {margin-top: 10px;}

#idpwfind {float: right;}
#idpwfind:hover,#idpwfind:active, #join:hover,#join:active {font-weight: bold;}

#idpwfind a, #join a { font-weight: bold; color: #FFAD46;}
