
.mainimg{
position: relative;
height: 1000px;
background-size: cover;
}

.m_img{
   position: absolute;

   z-index:2;
}

.divcontent{
 position: absolute;
 top:50%;
 left:20%;
 font-size:5rem;
 color: white;
 z-index: 1;
 text-align: left;
}