.containerBox {
    position: relative;
    display: inline-block;
}
.text-box {
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
#mainh1, #mainh5 {
   display: inline-block;
   font-size: 30px; /*or whatever you want*/
   color: #FFF;   
}
.containerBox .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.board_link {
	cursor: pointer;
}

table {
	width:100%;
	table-layout: fixed;
}
th, td {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}