@charset "UTF-8";

.hide{display:none !important;}

#content-box {
	margin:0 auto; padding:100px 80px; box-shadow:0px 0px 5px #ccc; width:1000px; height:auto; background:white;
	color: #444;
	z-index: 100;
}
.fa-plus-square {
	font-size:40px;
	color:#444;
}
.write-logo {
	width:300px;
	height:auto;
	opacity: 0.9;
	margin:0 auto;
	display: block;
	margin-top: 40px;
}

@media (max-width:426px) {
	#content-box {
		width:100%;
		padding:60px 20px;
	}
	.fa-plus-square {
		font-size:25px;
		color:#fe8d03;
	}
}	
