@charset "UTF-8";

img {
	width: 100%; height: auto;
	z-index: 0;
}
.clear {
	clear:both;
}

.one_line {
	font-weight:bold;
	line-height: 2.0em;
	display: inline-block;
}

.content-wrtie-top {
	width:100%;
}
.content-wrtie-top h1 {
	margin-top:80px;
	font-size:50px;
	font-weight:bold;
}
.content-wrtie-top h2 {
	margin-top:20px;
	font-size:40px;
	font-weight:bold;
	padding:10px 0;
	
}
.content-title {
	border-top:5px solid #fe8d03;
	border-bottom:2px solid #fe8d03;
	padding:10px 5px;
	width:100%;
}
.content-title h4 {
	font-size:23px;
	font-weight:bold;
	padding-top: 5px;
	weight:300px;
	word-break:break-all;
}
.content-title > div {
	display:inline-block;
	font-size:15px;
	padding-right: 10px;
	padding-top: 5px;
}
.content-title > span {
	float:right;
	line-height: 30px;
}

.content-write-main {
	padding:10px 0;
	height:auto;
}
.content-main {
	margin:50px 0;
	height:auto;
	word-break:break-all;
}
.download-box {
	border-bottom:2px solid #555;
	margin-bottom:40px;
}
#comments-box {
	margin-bottom:20px;
}
.freeView-btn-box {
	border-bottom:2px solid #555;
	margin-bottom:20px;
	padding-bottom:20px;
}

.cs-btn-box{
	margin-top:10px;
}
.comment_content {
	height:50px;
	width:100%;
	resize:none;
	overflow:hidden;
	border:1px solid #ccc;
}
#comments-box {
	margin: 30px 0;
	width:100%;
}
.com-inner-box {
	border: 1px solid #ccc;
	border-bottom:0px;
	padding:20px;
	
}
#comments-box > div:last-child {
	border-bottom:1px solid #ccc;
}
.reply-btn {
	cursor: pointer;
}
.com_content {
	margin-top:17px;
	margin-left:2px;
}
#JSON {
	margin: 30px 0;
	width:100%;
}
#JSON > div:last-child {
	border-bottom:1px solid #ccc;
}
.warinng-box {
	
	background:none; text-align: center; color: black;
	width:60%;
	margin:25px auto;
}
.warning-content-box {
	border-radius: 10px;
	padding:30px 50px;
	background-color: #ffc9d3;
	font-size:15px;
}
.warinng-box h3 {
	font-weight:bold;
	color:#e61919;
	font-size:23px;
}
.comment {
	word-break:break-all;
}
.comment_nickname {
	font-size:10px;
}

#downFile{
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	margin-top:30px;
	padding:10px;
}

.one_line {
	font-weight:bold;
	line-height: 2.0em;
	display: inline-block;
	vertical-align:-2px;
}

@media (max-width:426px) {
	.content-wrtie-top h1 {
		margin-top:80px;
		font-size:30px;
		font-weight:bold;
	}
	.content-wrtie-top h2 {
		margin-top:20px;
		font-size:20px;
		font-weight:bold;
		padding:10px 0;
	}
	.warinng-box {
		background:none; text-align: center; color: black;
		width:100%;
		margin:25px auto;
	}
	.warning-content-box {
		border-radius: 10px;
		padding:20px 30px;
		background-color: #ffc9d3;
		font-size:10px;
	}
	.warinng-box h3 {
		font-weight:bold;
		color:#e61919;
		font-size:15px;
	}
	.download_a {
		font-size:7px;
	}
	.comment_reg {
		font-size:10px;
	}
	.comment_nick {
		font-size:13px;
	}
	.reply {
		font-size:13px;
	}
	input[type=text], input[type=password] {
		width: 100%;
	}
	
	#downFile{
		text-align:center;
	}
	
	.one_line{
		font-size:15px;
		border:none;
   		float:left;
	}
	
	#downTxt {
		width:80%;
		overflow: hidden;
   		text-overflow: ellipsis;
   		white-space: nowrap;
   		margin-top: 4px;
	}
	
}