@charset "UTF-8";

.clear {
	clear:both;
}
.viewCntM{
	display: none;
}
.clear:last-child {
	border-bottom:1px solid #bbb;
}

#board-top-box {
	width:95%;
}

#board-top-box {
	margin-bottom:30px;
	padding-bottom:20px;
}
#board-top-box h1 {
	font-size:50px;
	font-weight:700;
	color:black;
}
.board-box-inner {
	width:95%;
	border-bottom:2px solid #fe8d03;
	padding:30px 0px;
	word-break:break-all;
}
.board-box > div {
	display:inline-block;
	margin: 1 auto;
}
.board-box-inner.div {
	width:100%
}
.board-box {
	width:100%;
	border:1px solid #bbb;
	border-bottom:0px;
	transition:0.5s;
	cursor: pointer;
}
.board-box:last-child {
	border-bottom:1px solid #bbb;
}
.board-box:hover {
	background:#bbb;
}
.uid-box {
	margin-top:1.7em;
	width:8%;
	float:left;
	text-align:center;
}
.title-top-box {
	width:70%;
}
.uid-box h2 {
	font-size:15px;
}

.reg-box {
	padding-top:6px;
	font-size:15px;
	color:#333;
}
.reg-box span{
	padding:5px;
}
.title-box {
	padding:8px 10px;
	font-size:18px;
	width: 80%;
	font-weight: bold;
	word-break:break-all;
	line-height: 20px;
}

.title-box a:hover {
	color:white;
}
.vn-box{
	width:20%;
	float:right;
	margin-right:10px;
}
.nickName-box {
	margin-top:0.3em;
	font-weight:700;
	word-break:break-all;
}
.nickName-box span{
	font-size:15px;
}
.viewCnt-box {
	font-size:13px;
	text-align:left;
	line-height: 30px;
}

#board-bottom-box {
	width:95%;
}
#pagination-box {
	width:auto;
	margin:0 auto;
}

.page {
	padding:20px;
	margin: 0 auto;
	text-align: center;
}
.page > li {
	display: inline-block;
	font-size:20px;
}
.page a {
	padding:10px 20px;
	color:#fe8d03;
	border-radius: 5px;
	font-weight:700;
	transition:0.3s;
}
.page a:hover {
	background:#fe8d03;
	color:white;
}
.total-box {
	text-align:right;
	color:#666;
	padding-bottom:10px;
}

#search_cate {
	font-size: 18px;
	padding: 9px;
	border:1px solid #ccc;
	border-radius: 5px;
}
#page-search-box {
	margin-top: 30px;
}
.word {
	font-size: 20px;
	padding:5px 10px;
	width:45%;
	border:1px solid #ccc;
	border-radius: 5px;
}
.searchBtn {
	font-size: 20px;
	padding:5px 13px;
	margin-left:-8px;
	border: 1px solid #ccc;
	border-radius: 0 5px 5px 0;
	background:#fff;
	cursor:pointer;	
}
.fa-pen {
	font-size: 25px;
	padding: 10px;
}
.write_btn {
	margin: 25px 0;
	float:right;
	color:black;
	transition:0.1s;
}
.fa-pen:hover {
	text-decoration: underline;
	color: #fe8d03;
}
.write_btn:hover {
	color: #fe8d03;
}
.page a.active {
	background-color : #fe8d03;
	color:white;
}



@media (max-width:426px) {
	.board-box-inner{
		width:100%;
		height:auto;
	}
	#board-top-box {
		width:100%;
	}
	.board-box{
		padding: 0 10px;
	}
	#board-top-box h1 {
		font-size:30px;
		font-weight:700;
		color:black;
	}
	.fa-pen {
		font-size: 20px;
		padding: 10px;
	}
	.write_btn {
		margin: 0px 0;
		margin-left:10px;
		float:right;
		color:black;
		transition:0.1s;
	}
	.total-box{
		text-align:left;
		font-size:10px;
	}
	.uid-box {
		margin-top:0.5em;
		width:3%;
		text-align:center;
		display: none;
	}
	.uid-box h2 {
		display: none;
	}
	.title-top-box {
		width:100%;
	}
	.title-box {
		padding:8px 10px;
		font-size:13px;
		font-weight: bold;
		line-height: 20px;
		word-break:break-all;
	}
	.reg-box {
		padding-top:6px;
		font-size:10px;
		color:#333;
	}
	.nickName-box {
		margin-top:0.0em;
		width:100%;
		text-align:right;
	}
	.nickName-box span{
		font-size:10px;
		width:100%;
		float:right;
	}
	.vn-box{
		width:96%;
		float:inherit;
		margin-right:0px;
	}
	.viewCnt-box {
		font-size:0px;
		text-align:left;
		line-height: 30px;
		display: none;
	}
	.viewCntM {
		display: inline;
	}
	.page {
	padding:10px;
	margin: 0 auto;
	text-align: center;
	}
	.page > li {
		display: inline-block;
		font-size:13px;
	}
	.page a {
		padding:5px 10px;
		color:#fe8d03;
		border-radius: 5px;
		font-weight:700;
		transition:0.3s;
	}
	#search_cate {
		font-size: 10px;
		padding: 5px;
		border:1px solid #ccc;
		border-radius: 5px;
	}
	#page-search-box {
		margin-top: 30px;
	}
	.word {
		font-size: 10px;
		padding:5px 10px;
		width:45%;
		border:1px solid #ccc;
		border-radius: 5px;
	}
	.searchBtn {
		font-size: 10px;
		padding:5px 13px;
		margin-left:-8px;
		border: 1px solid #ccc;
		border-radius: 0 5px 5px 0;
		background:#fff;
		cursor:pointer;	
	}
}
