@charset "UTF-8";

.clear {
	clear: both;
}

.div_inline {
	display: inline;
}
#write-top-box h1 {
	font-size:50px;
	font-weight:bold;
}
#write-top-box h1:last-child {
	margin-top: 30px;
}

#write-inner-box {
	border-top: 3px solid gold;
	border-bottom:3px solid gold;
	padding:20px 15px;
	height:164px;
}

#visit_box {
	margin-left:20px;
}

.one_line {
	font-weight:bold;
	line-height: 2.0em;
	display: inline-block;
	float:left;
}

.two_line {
	font-weight:bold;
	line-height: 2.0em;
	display: inline-block;
}

.short-input {
	width: 38%;
	font-size:20px;
	border:1px solid #ccc;
	border-radius: 5px;
	margin-left:18px;
}

.long-input {
	width: 90%;
	font-size:20px;
	border:1px solid #ccc;
	border-radius: 5px;
	float:right;
}
.title-write {
	width: 37.8%;
	margin: 0 15px;
	font-size:20px;
	border:1px solid #ccc;
	border-radius: 5px;
}
#write-content-box {
	padding-top:40px;
	border-bottom:3px solid gold;
}
.wr-content {
	width:100%;
	height:400px;
	border:1px solid #ccc;
	border-radius: 5px;
	overflow:auto;
	resize:none;
}

.write-logo {
	width:300px;
	height:auto;
	opacity: 0.9;
	margin:0 auto;
	display: block;
}

.display-block{
	display:block;
	padding:10px 0;
}

.red {
	font-weight:bold;
	color:red;
}



